Repository vrm-c/UniVRM, pull requests merged in 2021-12, with the labels that each got.

#1399 Add a destructive MToon migration in edge case.
  Assets/VRM10/Runtime/Migration/Materials/MigrationMToonMaterial.cs
Labels: material/texture, 1.0

#1400 Fix migration error in MToon & Modify Screen Coords Outline drawing algorithm.
  Assets/VRM10/Runtime/Migration/Materials/MigrationMToonMaterial.cs
  Assets/VRMShaders/VRM10/MToon10/Resources/VRM10/vrmc_materials_mtoon_define.hlsl
  Assets/VRMShaders/VRM10/MToon10/Resources/VRM10/vrmc_materials_mtoon_geometry_vertex.hlsl
  Assets/VRMShaders/VRM10/MToon10/Resources/VRM10/vrmc_materials_mtoon_utility.hlsl
Labels: material/texture, 1.0

#1409 同一のバイト列を参照するBufferAccessor が複数回、座標変換(右手・左手変換)されるのを回避する
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterEditorGUI.cs
  Assets/VRM10/Runtime/IO/Vrm10Data.cs
  Assets/VRM10/Runtime/Migration/MeshUpdater.cs
  Assets/VRM10/vrmlib/Runtime/ModelExtensionsForCoordinates.cs
  Assets/VRMShaders/GLTF/IO/Runtime/Util/Symbols.cs
  Assets/VRMShaders/GLTF/IO/Runtime/Util/Symbols.cs.meta
Labels: bug, importer, 1.0

#1415 Feature/keep vertex color
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfExportSettings.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExportUtil.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_DividedVertexBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_SharedVertexBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/VertexColorState.cs
  Assets/VRM/Editor/Format/VRMExportOptions.cs
  Assets/VRM/Editor/Format/VRMExportOptions.cs.meta
  Assets/VRM/Editor/Format/VRMExportSettings.cs
  Assets/VRM/Editor/Format/VRMExportSettingsEditor.cs
  Assets/VRM/Editor/Format/VRMExporterWizard.cs
  Assets/VRM10/Runtime/IO/Model/MeshWriter.cs
Labels: exporter

#1423 meta の PropertyField に対するオブジェクト置き換えを有効にする
  Assets/VRM/Editor/Meta/VRMMetaEditor.cs
Labels: editor

#1428 [1.0] Export ダイアログは正規化しない
  Assets/UniGLTF/Editor/UniGLTF/Validation/HumanoidValidator.cs
  Assets/VRM/Editor/Format/VRMExporterWizard.cs
  Assets/VRM10/Editor/Vrm10ExportDialog.cs
Labels: exporter, 1.0

#1429 [1.0][Importer] Import 時の正規化を実装
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporter.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterEditorGUI.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterImpl.cs
  Assets/VRM10/Runtime/IO/Vrm10Data.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: importer, 1.0

#1433 Fix/exporter extensionused
  Assets/UniGLTF/Runtime/UniGLTF/IO/ExportingGltfData.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfJsonUtil.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfJsonUtil.cs.meta
  Assets/UniGLTF/Tests/UniGLTF/GltfJsonUtilTests.cs
  Assets/UniGLTF/Tests/UniGLTF/GltfJsonUtilTests.cs.meta
Labels: exporter

#1434 release/079/v0.92.0.md
  docs/index.html
  docs/release/079/v0.92.0.md
Labels: document

#1439 default material
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/VRMShaders/GLTF/IO/Runtime/Material/Importer/MaterialDescriptor.cs
Labels: importer, material/texture

#1440 FirstPerson 設定が無い Renderer のデフォルト値を auto にする
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: importer, 1.0, FirstPerson
