Repository vrm-c/UniVRM, pull requests merged in 2021-09, with the labels that each got.

#1182 URP と Builtin が逆
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GltfScriptedImporterBase.cs
Labels: bug, importer

#1196 [1.0] RuntimeLoad と meta 取得 を実装
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GltfScriptedImporterBase.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GltfScriptedImporterEditor.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/ZipArchivedGltfScriptedImporterEditor.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/AmbiguousGltfFileParser.cs.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/AutoGltfFileParser.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/AutoGltfFileParser.cs.meta
  Assets/UniGLTF/Tests/UniGLTF/GltfLoadTests.cs
  Assets/VRM/Runtime/BlendShape/Blinker.cs
  Assets/VRM/Samples/SimpleViewer/AIUEO.cs
  Assets/VRM/Samples/SimpleViewer/ViewerUI.cs
  Assets/VRM10/Runtime/IO/Vrm10Data.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Runtime/Migration/Vrm10Meta.cs
  Assets/VRM10/Runtime/Migration/Vrm10Meta.cs.meta
  Assets/VRM10/Samples/VRM10Viewer/VRM10ViewerUI.cs
  Assets/VRM10/Tests/MigrationTests.cs
  Assets/VRMShaders/GLTF/IO/Runtime/IAwaitCaller.cs
  docfx/articles/en/gltf/0_36_update.md
  docfx/articles/en/gltf/0_82_glb_import.md
  docfx/articles/en/history.md
  docfx/articles/en/toc.yml
  docfx/articles/en/vrm0/0_58_blendshape.md
  docfx/articles/en/vrm0/0_82_runtime_import.md
  docfx/articles/en/vrm1/vrm1_runtime_load.md
  docfx/articles/ja/gltf/0_36_update.md
  docfx/articles/ja/gltf/0_82_glb_import.md
  docfx/articles/ja/history.md
  docfx/articles/ja/toc.yml
  docfx/articles/ja/vrm0/0_58_blendshape.md
  docfx/articles/ja/vrm0/0_82_runtime_import.md
  docfx/articles/ja/vrm1/vrm1_runtime_load.md
Labels: importer, 1.0

#1202 Import時に非表示にする
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: importer

#1207 [Exporter] shader版の StandardMap の Exporter 変換を追加
  Assets/VRMShaders/GLTF/IO/Resources/UniGLTF/StandardMapExporter.shader
  Assets/VRMShaders/GLTF/IO/Resources/UniGLTF/StandardMapExporter.shader.meta
  Assets/VRMShaders/GLTF/IO/Runtime/OcclusionMetallicRoughnessConverter.cs
Labels: material

#1206 [1.0] FirstPerson 初期化を整理
  Assets/UniGLTF/Runtime/MeshUtility/BoneMeshEraser.cs
  Assets/UniGLTF/Runtime/UniGLTF/RuntimeGltfInstance.cs
  Assets/VRM10/Runtime/Components/FirstPerson/Vrm10FirstPersonLayerSettings.cs
  Assets/VRM10/Runtime/Components/FirstPerson/Vrm10FirstPersonLayerSettings.cs.meta
  Assets/VRM10/Runtime/Components/VRM10Object/VRM10ObjectFirstPerson.cs
  Assets/VRM10/Samples/VRM10FirstPersonSample.meta
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10CanvasManager.cs
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10CanvasManager.cs.meta
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10FileDialogForWindows.cs
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10FileDialogForWindows.cs.meta
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10FirstPersonSample.unity
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10FirstPersonSample.unity.meta
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10LookTarget.cs
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10LookTarget.cs.meta
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10OffsetOnTransform.cs
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10OffsetOnTransform.cs.meta
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10RuntimeLoader.cs
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10RuntimeLoader.cs.meta
  ProjectSettings/TagManager.asset
  docfx/articles/en/toc.yml
  docfx/articles/en/vrm1/vrm1_firstperson.md
  docfx/articles/ja/toc.yml
  docfx/articles/ja/vrm1/vrm1_firstperson.md
Labels: importer, 1.0

#1209 初期値との差分を使うようにロジックを変更
  Assets/VRM10/Runtime/Components/Expression/MaterialValueBindingMerger.cs
  Assets/VRM10/Runtime/Components/Expression/PreviewMaterialItem.cs
  Assets/VRM10/Samples/VRM10Viewer/VRM10AutoExpression.cs
Labels: Blend Shape, 1.0

#1223 Can not access Mesh on thread
  Assets/UniGLTF/Runtime/MeshUtility/BoneMeshEraser.cs
Labels: bug

#1226 [1.0] preview の MaterialUVBindings 動作を修正
  Assets/VRM10/Runtime/Components/Expression/MaterialValueBindingMerger.cs
  Assets/VRM10/Runtime/Components/Expression/Preview/PreviewSceneManager.cs
  Assets/VRM10/Runtime/Components/Expression/PreviewMaterialItem.cs
Labels: editor, Blend Shape, 1.0

#1227 [1.0] meta の仕様準拠
  Assets/VRM10/Runtime/Components/VRM10Object/VRM10ObjectMeta.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: 1.0

#1228 [1.0] bone selector(experimental) 【squash merge】
  Assets/UniGLTF/Editor/UniGLTF/Gizmo.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/BoneInfo.cs
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/BoneInfo.cs.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/BoneInfoDrawer.cs
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/BoneInfoDrawer.cs.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/BoneSelector.cs
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/BoneSelector.cs.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/Bone.fbx
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/Bone.fbx.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/Bone.mat
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/Bone.mat.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/BoneGizmo.prefab
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/BoneGizmo.prefab.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/HoverBone.mat
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/HoverBone.mat.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/HoverBoneGizmo.prefab
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/HoverBoneGizmo.prefab.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/OverlayGizmo.shader
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/OverlayGizmo.shader.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/SelectedBone.mat
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/SelectedBone.mat.meta
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/SelectedBoneGizmo.prefab
  Assets/UniGLTF/Editor/UniGLTF/Gizmo/Models/SelectedBoneGizmo.prefab.meta
  Assets/VRM10/Editor/EditorTool/VRM10BoneSelectorEditorTool.cs
  Assets/VRM10/Editor/EditorTool/VRM10BoneSelectorEditorTool.cs.meta
Labels: editor, 1.0

#1232 URP 未インストール時に、URPを選択できないように修正
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GltfScriptedImporterBase.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporter.cs
Labels: importer, editor

#1249 UniGLTF/README 更新
  Assets/UniGLTF/README.md
Labels: document

#1248 `VRM/UnlitTransparentZWrite` の Import を修正
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/GltfUnlitMaterialImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/MaterialExporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/VertexColorState.cs
  Assets/VRM/Runtime/IO/VRMMaterialDescriptorGenerator.cs
  Assets/VRM/Runtime/IO/VRMZWriteMaterialImporter.cs
  Assets/VRM/Runtime/IO/VRMZWriteMaterialImporter.cs.meta
  Assets/VRMShaders/GLTF/IO/Runtime/MaterialFactory.cs
  Assets/VRMShaders/GLTF/UniUnlit/Editor/UniUnlitEditor.cs
  Assets/VRMShaders/GLTF/UniUnlit/Runtime/UniUnlitUtil.cs
  Assets/VRMShaders/GLTF/UniUnlit/Runtime/UniUnlitUtil.cs.meta
  Assets/VRMShaders/GLTF/UniUnlit/Runtime/Utils.cs.meta
Labels: importer, material

#1254 [1.0] Thumbnail の nullcheck
  Assets/VRM10/Runtime/IO/Texture/Vrm10TextureDescriptorGenerator.cs
Labels: importer

#1252 [1.0] FirstPerson.SetupAsync 修正
  Assets/UniGLTF/Runtime/UniGLTF/RuntimeGltfInstance.cs
  Assets/VRM10/Runtime/Components/VRM10Object/VRM10ObjectFirstPerson.cs
  Assets/VRM10/Samples/VRM10FirstPersonSample/VRM10RuntimeLoader.cs
  Assets/VRMShaders/GLTF/IO/Runtime/IResponsibilityForDestroyObjects.cs
  docs/implementation/runtime_resource_management.md
  docs/index.md
  docs/vrm1/vrm1_firstperson.md
Labels: importer, FirstPerson

#1258 add self flag
  Assets/VRM10/Runtime/Components/VRM10Object/VRM10ObjectFirstPerson.cs
Labels: FirstPerson

#1261 [1.0] Fix MToon10 texture offset/scale bug.
  Assets/VRMShaders/VRM10/MToon10/Resources/VRM10/vrmc_materials_mtoon_forward_vertex.hlsl
Labels: material

#1244 Fix throw by First. Use FirstOrDefault
  Assets/VRM/Runtime/Extensions/glTF_VRMExtensions.cs
Labels: exporter, Expression
