Repository vrm-c/UniVRM, pull requests merged in 2021-06, with the labels that each got.

#995 new m_colliderList
  Assets/VRM10/Runtime/Components/VRM10ControllerSpringBone.cs
Labels: 1.0

#996 Feature10/update spring bone tail spec
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneJoint.cs
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneJoint.cs.meta
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringJoint.cs
  Assets/VRM10/Runtime/Components/VRM10ControllerSpringBone.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Runtime/Migration/MigrationVrmSpringBone.cs
Labels: 1.0

#1008 glb ローダーで読めるように修正
  Assets/VRM10/Runtime/IO/Material/Vrm10MToonMaterialExporter.cs
Labels: 1.0, exporter

#1007 既存の morphTarget の sparse export を整理して、divided 頂点バッファでも動くようにした
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/BlendShapeExporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/BlendShapeExporter.cs.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExportUtil.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_DividedVertexBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_SharedVertexBuffer.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterImpl.cs
  Assets/VRM10/Runtime/IO/Model/MeshImporterDivided.cs
  Assets/VRM10/Runtime/IO/Model/MeshWriter.cs
  Assets/VRM10/Runtime/Migration/RotateY180.cs
Labels: exporter

#1058 [1.0]MetaEditorの復旧
  Assets/UniGLTF/Editor/SerializedPropertyEditor.meta
  Assets/UniGLTF/Editor/SerializedPropertyEditor/SerializedPropertyEditor.cs
  Assets/UniGLTF/Editor/SerializedPropertyEditor/SerializedPropertyEditor.cs.meta
  Assets/VRM10/Editor/Components/PropGui.cs
  Assets/VRM10/Editor/Components/VRM10MetaEditor.cs
  Assets/VRM10/Editor/Components/VRM10MetaEditor.cs.meta
  Assets/VRM10/Editor/Components/VRM10ObjectEditor.cs
  Assets/VRM10/Editor/VRM10MetaObjectEditor.cs
  Assets/VRM10/Editor/Vrm10ExportDialog.cs
Labels: 1.0, editor

#1053 Feature10/remap editor
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GlbScriptedImporterEditorGUI.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GltfScriptedImporterEditorGUI.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapEditorAnimation.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapEditorAnimation.cs.meta
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapEditorBase.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapEditorBase.cs.meta
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapEditorMaterial.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapEditorMaterial.cs.meta
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapScriptedImporterEditorBase.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/RemapScriptedImporterEditorBase.cs.meta
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/ScriptedImporterExtension.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/TextureExtractor.cs
  Assets/VRM10/Editor/ScriptedImporter/RemapEditorVrm.cs
  Assets/VRM10/Editor/ScriptedImporter/RemapEditorVrm.cs.meta
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterEditorGUI.cs
  Assets/VRMShaders/GLTF/IO/Editor/TextureImporterConfigurator.cs
Labels: 1.0, editor, glTF, importer

#1072 Export textures with alpha channel only if necessary
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/MaterialExporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/gltfExporter.cs
  Assets/UniGLTF/Tests/UniGLTF/TextureTests.cs
  Assets/VRM/Runtime/IO/VRMExporter.cs
  Assets/VRM/Runtime/IO/VRMMaterialExporter.cs
  Assets/VRM10/Runtime/IO/Material/Vrm10MToonMaterialExporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRMShaders/GLTF/IO/Runtime/ITextureExporter.cs
  Assets/VRMShaders/GLTF/IO/Runtime/TextureConverter.cs
  Assets/VRMShaders/GLTF/IO/Runtime/TextureExportParam.cs
  Assets/VRMShaders/GLTF/IO/Runtime/TextureExportParam.cs.meta
  Assets/VRMShaders/GLTF/IO/Runtime/TextureExportTypes.cs
  Assets/VRMShaders/GLTF/IO/Runtime/TextureExportTypes.cs.meta
  Assets/VRMShaders/GLTF/IO/Runtime/TextureExporter.cs
  Assets/VRMShaders/GLTF/IO/Tests/MetallicRoughnessConverterTests.cs
Labels: exporter
