Repository vrm-c/UniVRM, pull requests merged in 2021-08, with the labels that each got.

#1123 ライティングのテスト用シーンを追加
  Assets/UniGLTF.Samples.meta
  Assets/UniGLTF.Samples/LookDev.meta
  Assets/UniGLTF.Samples/LookDev/RenderingServicePostProcessingProfile.asset
  Assets/UniGLTF.Samples/LookDev/RenderingServicePostProcessingProfile.asset.meta
  Assets/UniGLTF.Samples/LookDev/ballroom_1k.unity
  Assets/UniGLTF.Samples/LookDev/ballroom_1k.unity.meta
  Assets/UniGLTF.Samples/LookDev/cubemap.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/ballroom_1k.exr
  Assets/UniGLTF.Samples/LookDev/cubemap/ballroom_1k.exr.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/ballroom_1k.mat
  Assets/UniGLTF.Samples/LookDev/cubemap/ballroom_1k.mat.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/lilienstein_1k.exr
  Assets/UniGLTF.Samples/LookDev/cubemap/lilienstein_1k.exr.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/lilienstein_1k.mat
  Assets/UniGLTF.Samples/LookDev/cubemap/lilienstein_1k.mat.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/moonless_golf_1k.exr
  Assets/UniGLTF.Samples/LookDev/cubemap/moonless_golf_1k.exr.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/moonless_golf_1k.mat
  Assets/UniGLTF.Samples/LookDev/cubemap/moonless_golf_1k.mat.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/spruit_sunrise_1k.exr
  Assets/UniGLTF.Samples/LookDev/cubemap/spruit_sunrise_1k.exr.meta
  Assets/UniGLTF.Samples/LookDev/cubemap/spruit_sunrise_1k.mat
  Assets/UniGLTF.Samples/LookDev/cubemap/spruit_sunrise_1k.mat.meta
  Assets/UniGLTF.Samples/LookDev/floor.mat
  Assets/UniGLTF.Samples/LookDev/floor.mat.meta
  Assets/UniGLTF.Samples/LookDev/floor.prefab
  Assets/UniGLTF.Samples/LookDev/floor.prefab.meta
  Assets/UniGLTF.Samples/LookDev/lilienstein_1k.unity
  Assets/UniGLTF.Samples/LookDev/lilienstein_1k.unity.meta
  Assets/UniGLTF.Samples/LookDev/moonless_golf_1k.unity
  Assets/UniGLTF.Samples/LookDev/moonless_golf_1k.unity.meta
  Assets/UniGLTF.Samples/LookDev/spruit_sunrise_1k.unity
  Assets/UniGLTF.Samples/LookDev/spruit_sunrise_1k.unity.meta
Labels: enhancement

#1170 Define GlbBinaryParser
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/GlbBinaryParser.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/GlbBinaryParser.cs.meta
Labels: importer, glTF

#1169 play mode の expression preview
  Assets/VRM10/Editor/EditorTool/VRM10ExpressionEditorTool.cs
  Assets/VRM10/Editor/EditorTool/VRM10ExpressionEditorTool.cs.meta
Labels: Blend Shape

#1177 Add MaterialGenerator customization point (for URP)
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GlbScriptedImporter.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GltfScriptedImporter.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/GltfScriptedImporterBase.cs
  Assets/UniGLTF/Editor/UniGLTF/ScriptedImporter/ZipArchivedGltfScriptedImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/RenderPipelineTypes.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/RenderPipelineTypes.cs.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP/GltfPbrURPMaterialImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP/GltfPbrURPMaterialImporter.cs.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP/GltfURPMaterialDescriptorGenerator.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP/GltfURPMaterialDescriptorGenerator.cs.meta
  Assets/VRM/Runtime/IO/VRMImporterContext.cs
  Assets/VRM/Runtime/IO/VRMURPMaterialDescriptorGenerator.cs
  Assets/VRM/Runtime/IO/VRMURPMaterialDescriptorGenerator.cs.meta
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporter.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterEditorGUI.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterImpl.cs
  Assets/VRM10/Runtime/IO/Material/Vrm10UrpMaterialDescriptorGenerator.cs
  Assets/VRM10/Runtime/IO/Material/Vrm10UrpMaterialDescriptorGenerator.cs.meta
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: importer, material
