Repository vrm-c/UniVRM, pull requests merged in 2022-05, with the labels that each got.

#1626 Disable WebGl color space check
  Assets/UniGLTF/Editor/EditorSettingsValidator/UnityEditorSettingsValidatorWindow.cs
Labels: editor

#1638 Fix/mesh integrator update
  Assets/UniGLTF/Editor/MeshUtility/BoneMeshEraserGUI.cs
  Assets/UniGLTF/Editor/MeshUtility/BoneMeshEraserGUI.cs.meta
  Assets/UniGLTF/Editor/MeshUtility/MeshProcessDialog.cs
  Assets/UniGLTF/Editor/MeshUtility/MeshProcessingMessages.cs
  Assets/UniGLTF/Editor/MeshUtility/MeshProcessingMessages.cs.meta
  Assets/UniGLTF/Editor/MeshUtility/MeshUtility.cs
  Assets/UniGLTF/Editor/MeshUtility/TabBoneMeshRemover.cs
  Assets/UniGLTF/Editor/MeshUtility/TabBoneMeshRemover.cs.meta
  Assets/UniGLTF/Editor/MeshUtility/TabMeshIntegrator.cs
  Assets/UniGLTF/Editor/MeshUtility/TabMeshIntegrator.cs.meta
  Assets/UniGLTF/Editor/MeshUtility/TabMeshSeparator.cs
  Assets/UniGLTF/Editor/MeshUtility/TabMeshSeparator.cs.meta
  Assets/UniGLTF/Editor/MeshUtility/TabStaticMeshIntegrator.cs
  Assets/UniGLTF/Editor/MeshUtility/TabStaticMeshIntegrator.cs.meta
  Assets/UniGLTF/Editor/TopMenu.cs
  Assets/UniGLTF/Editor/TopMenuImplementation.cs
Labels: editor

#1636 Initial support for KHR_mesh_quantization
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/PrimitiveExtensions.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/SByte4.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/SByte4.cs.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/UShort2.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/UShort2.cs.meta
Labels: importer

#1640 error message
  Assets/VRMShaders/GLTF/IO/Editor/Texture/Exporter/EditorTextureSerializer.cs
Labels: exporter

#1644 [1.0] gltf のバリエーション実装
  Assets/UniGLTF/Runtime/UniGLTF/IO/BufferAccessor.cs
  Assets/VRM10/Runtime/IO/Model/MeshImporter.cs
  Assets/VRM10/Runtime/IO/Model/MeshImporterDivided.cs
  Assets/VRM10/Runtime/IO/Model/MeshReader.cs
  Assets/VRM10/Runtime/IO/Vrm10ImportData.cs
Labels: importer, 1.0

#1643 null だと後続で例外
  Assets/VRM/Runtime/IO/VrmUtility.cs
Labels: importer

#1653 UNSIGNED_SHORT の index buffer に対応。エラーメッセージを追加。
  Assets/VRM10/Runtime/IO/Model/MeshImporterDivided.cs
Labels: importer

#1655 BlendShape を作って登録するサンプル
  Assets/VRM_Samples/BlendShapeMenu.meta
  Assets/VRM_Samples/BlendShapeMenu/AddBlankForPerfectSync.cs
  Assets/VRM_Samples/BlendShapeMenu/AddBlankForPerfectSync.cs.meta
Labels: Expression
