Repository vrm-c/UniVRM, pull requests merged in 2022-02, with the labels that each got.

#1494 [1.0][FirstPerson]同じ対象に対する設定が複数ある場合に、先頭のものを採用する
  Assets/VRM10/Runtime/Components/VRM10Object/VRM10ObjectFirstPerson.cs
Labels: FirstPerson

#1485 Fxi10/update vrm10data api
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterEditorGUI.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterImpl.cs
  Assets/VRM10/Runtime/IO/Vrm10Data.cs
  Assets/VRM10/Runtime/IO/Vrm10Exception.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Runtime/IO/Vrm10Utility.cs
  Assets/VRM10/Runtime/IO/Vrm10Utility.cs.meta
  Assets/VRM10/Runtime/Scenes/Sample.cs
  Assets/VRM10/Tests.PlayMode/MaterialTests.cs
  Assets/VRM10/Tests/ApiSampleTests.cs
  Assets/VRM10/Tests/LoadTests.cs
  Assets/VRM10/Tests/MigrationTests.cs
  Assets/VRM10/Tests/TestAsset.cs
  Assets/VRM10_Samples/VRM10FirstPersonSample/VRM10RuntimeLoader.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerUI.cs
Labels: importer, 1.0

#1489 [1.0] Migrationのエッジケースを修正
  Assets/UniGLTF/Runtime/UniJSON/ListTreeNode/ListTreeNodeObjectExtensions.cs
  Assets/VRM10/Runtime/Migration/MigrationVector3.cs
  Assets/VRM10/Runtime/Migration/MigrationVrmFirstPersonAndLookAt.cs
  Assets/VRM10/Runtime/Migration/MigrationVrmMeta.cs
Labels: 1.0

#1497 Fix10/vrm10data api
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterEditorGUI.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterImpl.cs
  Assets/VRM10/Runtime/IO/MigrationData.cs
  Assets/VRM10/Runtime/IO/MigrationData.cs.meta
  Assets/VRM10/Runtime/IO/Vrm10Data.cs
  Assets/VRM10/Runtime/IO/Vrm10Utility.cs
  Assets/VRM10/Runtime/Scenes/Sample.cs
  Assets/VRM10/Tests.PlayMode/MaterialTests.cs
  Assets/VRM10/Tests/ApiSampleTests.cs
  Assets/VRM10/Tests/LoadTests.cs
  Assets/VRM10/Tests/MigrationTests.cs
  Assets/VRM10/Tests/TestAsset.cs
  Assets/VRM10_Samples/VRM10FirstPersonSample/VRM10RuntimeLoader.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerUI.cs
Labels: importer

#1500 fix: add specVersion to spring bone and node constraint
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
Labels: bug, 1.0

#1501 [1.0] don't export the springBone extension if there are no colliders and springs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
Labels: exporter, 1.0

#1505 POSITION の Accessor に min, max を追加
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExportUtil.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_SharedVertexBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/PositionMinMax.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/PositionMinMax.cs.meta
Labels: exporter

#1499 VrmLib の整理
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfData.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/PrimitiveExtensions.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/NativeArrayManager.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/NativeArrayManager.cs.meta
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Runtime/Migration/MigrationVrm.cs
  Assets/VRM10/vrmlib/Runtime/BufferAccessor.cs
  Assets/VRM10/vrmlib/Runtime/IndexExtensions.cs
  Assets/VRM10/vrmlib/Runtime/IndexExtensions.cs.meta
  Assets/VRM10/vrmlib/Runtime/Mesh.cs
  Assets/VRM10/vrmlib/Runtime/MeshExtensions.cs
  Assets/VRM10/vrmlib/Runtime/MeshExtensions.cs.meta
  Assets/VRM10/vrmlib/Runtime/MeshGroup.cs
  Assets/VRM10/vrmlib/Runtime/MeshGroup.cs.meta
  Assets/VRM10/vrmlib/Runtime/MeshGroupExtensions.cs
  Assets/VRM10/vrmlib/Runtime/MeshGroupExtensions.cs.meta
  Assets/VRM10/vrmlib/Runtime/MeshMorphTargetSplitter.cs
  Assets/VRM10/vrmlib/Runtime/Model.cs
  Assets/VRM10/vrmlib/Runtime/ModelExtensions.cs
  Assets/VRM10/vrmlib/Runtime/ModelExtensions.cs.meta
  Assets/VRM10/vrmlib/Runtime/ModelExtensionsForCoordinates.cs
  Assets/VRM10/vrmlib/Runtime/ModelExtensionsForCoordinates.cs.meta
  Assets/VRM10/vrmlib/Runtime/ModelModifier.cs
  Assets/VRM10/vrmlib/Runtime/ModelModifier.cs.meta
  Assets/VRM10/vrmlib/Runtime/ModelModifierExtensions.cs
  Assets/VRM10/vrmlib/Runtime/ModelModifierExtensions.cs.meta
  Assets/VRM10/vrmlib/Runtime/VertexBufferExtensions.cs
  Assets/VRM10/vrmlib/Tests/ModifierTests.cs
Labels: 1.0

#1544 false not throw
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExportInfo.cs
Labels: exporter
