Repository vrm-c/UniVRM, pull requests merged in 2023-12, with the labels that each got.

#2186 Implement support for UNSIGNED_BYTE sparse accessors.
  Assets/VRM10/Runtime/IO/Vrm10ImportData.cs
Labels: importer, mesh

#2188 [MeshUtility] 非原点 SkinnedMeshRenderer まわりの修正
  Assets/UniGLTF/Editor/MeshUtility/MeshIntegrationTab.cs
  Assets/UniGLTF/Runtime/MeshUtility/BoneNormalizer.cs
  Assets/UniGLTF/Runtime/MeshUtility/GltfMeshUtility.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshExtensions.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshFreezer.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshIntegrationGroup.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshIntegrator.cs
  Assets/VRM/Runtime/SkinnedMeshUtility/VrmMeshUtility.cs
  Assets/VRM10/Runtime/MeshUtility/Vrm10MeshUtility.cs
Labels: mesh

#2193 [test] Fix/lookat test
  Assets/VRM/Editor/Format/VRMEditorExporter.cs
  Assets/VRM/Runtime/SpringBone/VRMSpringUtility.cs
  Assets/VRM/Tests/VRMLookAtTests.cs
Labels: LookAt/FirstPerson

#2196 メニューの作業ミスを修正
  Assets/VRM/Editor/VrmTopMenu.cs
Labels: editor
