Repository vrm-c/UniVRM, pull requests merged in 2023-10, with the labels that each got.

#2144 メッシュ名が.から始まってたり空だとimport時に失敗する?
  Assets/UniGLTF/Runtime/Extensions/StringExtensions.cs
  Assets/VRM10/Runtime/StringExtensions.cs
Labels: importer

#2155 VRM10ExpressionEditorTool can control custom expressions.
  Assets/VRM10/Editor/EditorTool/VRM10ExpressionEditorTool.cs
Labels: editor, Expression(BlendShape), 1.0

#2163 Fix a incorrect eye direction control in VRM-1.0.
  Assets/VRM10/Runtime/Components/LookAt/LookAtEyeDirection.cs
  Assets/VRM10/Runtime/Components/LookAt/LookAtEyeDirectionApplicableToBone.cs
Labels: 1.0, LookAt/FirstPerson

#2172 TEXCOORD_1 は export しない
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfExportSettings.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_DividedVertexBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_SharedVertexBuffer.cs
  Assets/VRM/Editor/Format/VRMExportSettings.cs
Labels: exporter, mesh

#2179 [vrm1.0] impl refactor mesh bake
  Assets/UniGLTF/Runtime/MeshUtility/BlendShapeReport.cs
  Assets/UniGLTF/Runtime/MeshUtility/BlendShapeReport.cs.meta
  Assets/UniGLTF/Runtime/MeshUtility/BoneNormalizer.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshFreezer.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshFreezer.cs.meta
  Assets/UniGLTF/Runtime/UniHumanoid/AvatarDescription.cs
  Assets/VRM/Runtime/SkinnedMeshUtility/VRMBoneNormalizer.cs
  Assets/VRM/Tests/NormalizeTests.cs
  Assets/VRM10/Editor/MeshUtility/Vrm10MeshUtilityDialog.cs
  Assets/VRM10/Runtime/MeshUtility/Vrm10MeshUtility.cs
Labels: mesh

#2180 [vrm1.0] impl refactor mesh integration
  Assets/UniGLTF/Editor/MeshUtility/TabMeshIntegrator.cs
  Assets/UniGLTF/Runtime/MeshUtility/BoneNormalizer.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshIntegrationGroup.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshIntegrationGroup.cs.meta
  Assets/UniGLTF/Runtime/MeshUtility/MeshIntegrationResult.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshIntegrator.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshIntegratorUtility.cs
  Assets/UniGLTF/Runtime/UniHumanoid/AvatarDescription.cs
  Assets/VRM/Editor/SkinnedMeshUtility/VRMMeshIntegratorUtility.cs
  Assets/VRM10/Editor/MeshUtility/MeshIntegrationTab.cs
  Assets/VRM10/Runtime/MeshUtility/Vrm10MeshUtility.cs
Labels: mesh
