Repository vrm-c/UniVRM, pull requests merged in 2024-11, with the labels that each got.

#2478 [vrm10] vrmlib による mesh 処理を gltf/vrm0.x のものと同じものに
  Assets/VRM10/Runtime/Components/Expression/DefaultExpressionValidator.cs
  Assets/VRM10/Runtime/Components/VRM10Object/VRM10ObjectExpression.cs
  Assets/VRM10/Runtime/IO/ExpressionExtensions.cs
  Assets/VRM10/Runtime/IO/Model/MeshImporterDivided.cs
  Assets/VRM10/Runtime/IO/Model/MeshImporterDivided.cs.meta
  Assets/VRM10/Runtime/IO/Model/MeshImporterShared.cs
  Assets/VRM10/Runtime/IO/Model/MeshImporterShared.cs.meta
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Runtime/Scenes/Sample.cs
Labels: importer, 1.0, Non breaking changes

#2477 [migration] BlendShape の binds key が無いときに KeyNotFoundException
  Assets/VRM10/Runtime/Migration/MigrationVrmExpression.cs
Labels: bug, importer, Non breaking changes

#2482 NullReferenceException when no VRMFirstPerson
  Assets/VRM/Runtime/IO/VrmGeometryBackup.cs
Labels: exporter, Non breaking changes

#2484 Implements VRM10 material exporter in URP
  Assets/VRM10/MToon10/Runtime/UnityShaderLab/Properties/MToon10Meta.cs
  Assets/VRM10/Runtime/IO/Material/BuiltInRP/Export/BuiltInVrm10MaterialExporter.cs
  Assets/VRM10/Runtime/IO/Material/BuiltInRP/Export/Materials/BuiltInVrm10MToonMaterialExporter.cs
  Assets/VRM10/Runtime/IO/Material/URP/Export/Materials.meta
  Assets/VRM10/Runtime/IO/Material/URP/Export/Materials/UrpVrm10MToonMaterialExporter.cs
  Assets/VRM10/Runtime/IO/Material/URP/Export/Materials/UrpVrm10MToonMaterialExporter.cs.meta
  Assets/VRM10/Runtime/IO/Material/URP/Export/UrpVrm10MaterialExporter.cs
  ProjectSettings/GraphicsSettings.asset
Labels: Non breaking changes

#2485 VRM10SpringBoneColliderGroup 改善
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneCollider.cs
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneColliderGroup.cs
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneJoint.cs
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10InstanceSpringBone.cs
Labels: SpringBone, editor, 1.0, Non breaking changes

#2488 default MigrateToVrm1 is true
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporter.cs
Labels: importer, editor, 1.0, Non breaking changes

#2490 [vrm10] VRM10 ModelExporter use GltfExportSettings
  Assets/VRM10/Editor/Vrm10ExportDialog.cs
  Assets/VRM10/Runtime/IO/Model/ModelExporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRM10/Runtime/Scenes/Sample.cs
  Assets/VRM10/Tests/LoadTests.cs
  Assets/VRM10/Tests/TestVrm10.cs
  Assets/VRM10_Samples/VRM10RuntimeExporterSample/VRM10RuntimeExporter.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10VisualPrimitive.cs
Labels: exporter, 1.0, meta/license, Non breaking changes

#2491 [1.0][springbone] fix gravitypower typo
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneJoint.cs
Labels: bug, SpringBone, 1.0, Non breaking changes

#2495 [export][mesh] 三角形メッシュじゃない場合にスキップする
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExportInfo.cs
Labels: exporter, mesh, Non breaking changes

#2497 [1.0][Springbone] gizmo の改修
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableCollider.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableJointImmutable.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableSpan.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneConbinedBuffer.cs
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneJointEditor.cs
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneJoint.cs
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10Instance.cs
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10InstanceSpringBone.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10NopSpringboneRuntime.cs
  Assets/VRM10/Runtime/FastSpringBone/FastSpringBoneService.cs
  Assets/VRM10/Runtime/IO/IVrm10SpringBoneRuntime.cs
Labels: SpringBone, 1.0, Non breaking changes

#2493 [1.0] Vrm10Instance editor を改善
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneDrawer.cs
  Assets/VRM10/Editor/Vrm10InstanceEditor.cs
Labels: SpringBone, editor, 1.0, Non breaking changes

#2498 [urp][build] ビルドすると膨大な時間がかかるため削除
  ProjectSettings/GraphicsSettings.asset
Labels: URP, Non breaking changes

#2502 [sample] コピーミス
  Assets/VRM10/Samples~/URPSample/Settings/UniversalRenderPipelineAsset.asset
Labels: Package, Non breaking changes

#2506 [0.x][springbone] rootBone 重複対策
  Assets/VRM/Editor/SpringBone/VRMSpringBoneEditor.cs
  Assets/VRM/Runtime/SpringBone/VRMSpringBone.cs
Labels: SpringBone, Non breaking changes

#2507 [fastspringbone] InitCurrentTailsJob use spring.transformIndexOffset
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneConbinedBuffer.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/InputPorts/FastSpringBoneBuffer.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/FastSpringBoneBufferFactory.cs
Labels: SpringBone, 1.0, Non breaking changes

#2501 Fix AnimationClipUtility to use empty string
  Assets/UniGLTF/Runtime/UniHumanoid/AnimationClipUtility.cs
Labels: animation, Non breaking changes

#2504 Don't log warning when `alphaMode` property is not set on glTFMaterial
  Assets/VRM10/Runtime/IO/Material/BuiltInRP/Import/Materials/BuiltInVrm10MToonMaterialImporter.cs
Labels: material/texture, Non breaking changes

#2512 [0.x][export] 正規化時にBlendShapeをベイクするチェックボックスが無かった
  Assets/VRM/Editor/Format/VRMExportOptions.cs
  Assets/VRM/Editor/Format/VRMExportSettings.cs
  Assets/VRM/Editor/Format/VRMExportSettingsEditor.cs
Labels: exporter, editor, Expression(BlendShape), Non breaking changes

#2510 [VRM-1.0][springbone][editor] Collider の offset ドラッグを追加
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneColliderEditor.cs
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneColliderGroupEditor.cs
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneColliderGroupEditor.cs.meta
Labels: SpringBone, editor, 1.0, Non breaking changes
