Repository vrm-c/UniVRM, pull requests merged in 2024-01, with the labels that each got.

#2220 ColliderGroupsはあるがColliderが全く存在しない場合にVRM0.xの読み込みで発生するエラーを解消する
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: importer, 1.0

#2221 非Skinned MeshかつMeshAnnotationが指定されていないメッシュがHead直下にある場合にLayerが設定されない現象を解消する
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: LookAt/FirstPerson

#2227 add ErrorHandling for vrma importer
  Assets/UniGLTF/Runtime/UniGLTF/IO/AnimationIO/AnimationImporterUtil.cs
  Assets/UniGLTF/Runtime/UniHumanoid/SkeletonMeshUtility.cs
  Assets/UniGLTF/Runtime/UniHumanoid/UniHumanoid.asmdef
  Assets/VRM10/Runtime/IO/VrmAnimationImporter.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerUI.cs
Labels: importer, 1.0, animation

#2232 VRMFirstPerson.CopyTo skip null
  Assets/VRM/Runtime/FirstPerson/VRMFirstPerson.cs
Labels: exporter, LookAt/FirstPerson
