Repository vrm-c/UniVRM, pull requests merged in 2024-09, with the labels that each got.

#2421 MToon10マテリアルをForward+レンダラーでの複数ライトに対応
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_forward_fragment.hlsl
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_urp.shader
Labels: URP, Non breaking changes

#2428 [vrm-0.x] normalize. AddComponent<Animator>() が既存で失敗する対策
  Assets/VRM/Runtime/IO/MaterialIO/VrmMaterialExporterUtility.cs
  Assets/VRM/Runtime/SkinnedMeshUtility/VRMBoneNormalizer.cs
  Assets/VRM_Samples/RuntimeExporterSample/VRMRuntimeExporter.cs
Labels: exporter, Non breaking changes

#2432 Add Dependencies com.unity.test-framework
  Assets/UniGLTF/package.json
Labels: Package, Non breaking changes

#2433 [SpringBone] BlittableLogic を immutable にするべく currentTail と prevTail を外出し
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableJoint.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableJointImmutable.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableJointImmutable.cs.meta
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableJointMutable.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableJointMutable.cs.meta
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneScheduler.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/InputPorts/FastSpringBoneBuffer.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/InputPorts/FastSpringBoneJoint.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/UpdateFastSpringBoneJob.cs
  Assets/VRM/Runtime/SpringBone/Jobs/FastSpringBoneReplacer.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10RuntimeSpringBone.cs
Labels: SpringBone, Non breaking changes

#2435 [VRM0][Importer]IVrm0XSpringBoneRuntime
  Assets/VRM/Runtime/IO/VRMImporterContext.cs
  Assets/VRM/Runtime/IO/VrmUtility.cs
  Assets/VRM/Runtime/SpringBone/IVrm0XSpringBoneRuntime.cs
  Assets/VRM/Runtime/SpringBone/IVrm0XSpringBoneRuntime.cs.meta
  Assets/VRM/Runtime/SpringBone/Jobs/Vrm0XFastSpringBoneRuntime.cs
  Assets/VRM/Runtime/SpringBone/Jobs/Vrm0XFastSpringBoneRuntime.cs.meta
  Assets/VRM/Runtime/SpringBone/Vrm0XSpringBoneDefaultRuntime.cs
  Assets/VRM/Runtime/SpringBone/Vrm0XSpringBoneDefaultRuntime.cs.meta
  Assets/VRM_Samples/SimpleViewer/ViewerUI.cs
Labels: importer, SpringBone, Breaking changes

#2436 [vrm-1.0][SpringBone] import 時に springbone 実装をスイッチする IVrm10SpringBoneRuntime インターフェース
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10Instance.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs.meta
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs.meta
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10Runtime.cs
  Assets/VRM10/Runtime/IO/IVrm10SpringBoneRuntime.cs
  Assets/VRM10/Runtime/IO/IVrm10SpringBoneRuntime.cs.meta
  Assets/VRM10/Runtime/IO/Vrm10.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Tests/ExpressionTests.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10Viewer.unity
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerUI.cs
Labels: importer, SpringBone, 1.0, Breaking changes

#2443 IVrm10SpringBoneRuntime.InitializeAsync
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10Instance.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/FastSpringBoneBufferFactory.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/FastSpringBoneBufferFactory.cs.meta
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10Runtime.cs
  Assets/VRM10/Runtime/IO/IVrm10SpringBoneRuntime.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10Viewer.unity
Labels: SpringBone, 1.0, Non breaking changes

#2444 typo
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
Labels: Non breaking changes

#2446 IVrm10SpringBoneRuntimeProvider
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10Instance.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeProvider.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeProvider.cs.meta
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandaloneProvider.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandaloneProvider.cs.meta
  Assets/VRM10/Runtime/IO/IVrm10SpringBoneRuntimeProvider.cs
  Assets/VRM10/Runtime/IO/IVrm10SpringBoneRuntimeProvider.cs.meta
Labels: SpringBone, 1.0, Non breaking changes

#2445 lookAt は root と同じ向きが初期姿勢
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10Runtime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10RuntimeLookAt.cs
Labels: LookAt/FirstPerson, Non breaking changes

#2448 SpringBoneの初期化を前方に移動しことで、非play時のDontDestroyOnLoadが発生してしまった。回避
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: bug, SpringBone, 1.0, Non breaking changes

#2449 [exporter] renderer の export しない基準 GameObject.active / Renderer.enabled を修正
  Assets/VRM/Runtime/IO/VRMExporter.cs
  Assets/VRM/Runtime/IO/VRMImporterContext.cs
  Assets/VRM10/Runtime/IO/ExpressionExtensions.cs
  Assets/VRM10/Runtime/IO/Model/ModelExporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: importer, exporter, Expression(BlendShape), mesh, LookAt/FirstPerson, Non breaking changes

#2450 UniVRM-0.127.0
  Assets/UniGLTF/Runtime/UniGLTF/PackageVersion.cs
  Assets/UniGLTF/Runtime/UniGLTF/UniGLTFVersion.cs
  Assets/UniGLTF/package.json
  Assets/VRM/Samples~/SimpleViewer/ViewerUI.cs
  Assets/VRM/package.json
  Assets/VRM10/Samples~/VRM10Viewer/VRM10Viewer.unity
  Assets/VRM10/Samples~/VRM10Viewer/VRM10ViewerUI.cs
  Assets/VRM10/package.json
Labels: Package, Non breaking changes

#2451 Upload test results file when finished running edit-mode tests
  .github/workflows/create-unitypackage.yml
Labels: Non breaking changes
