Repository vrm-c/UniVRM, pull requests merged in 2024-10, with the labels that each got.

#2453 [1.0] SpringBone の reset 実装と関連する修正
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneConbinedBuffer.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneConbinedBuffer.cs.meta
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneScheduler.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/InputPorts/FastSpringBoneBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: SpringBone, Non breaking changes

#2454 [1.0][SpringBone] ModelLevel 追加
  Assets/UniGLTF/Runtime/Extensions/TransformExtensions.cs
  Assets/UniGLTF/Runtime/Extensions/TransformExtensions.cs.meta
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableExternalData.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableModelLevel.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableModelLevel.cs.meta
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableSpring.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneConbinedBuffer.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneScheduler.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/InputPorts/FastSpringBoneBuffer.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/SpringBoneJobs.asmdef
  Assets/UniGLTF/Runtime/SpringBoneJobs/UpdateFastSpringBoneJob.cs
  Assets/VRM/Runtime/Extensions/TransformExtensions.cs
  Assets/VRM/Runtime/SpringBone/Jobs/FastSpringBoneReplacer.cs
  Assets/VRM/Runtime/SpringBone/Logic/SphereCollider.cs
  Assets/VRM/Runtime/SpringBone/Logic/SpringBoneJointInit.cs
  Assets/VRM/Runtime/SpringBone/Logic/SpringBoneSystem.cs
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneJointEditor.cs
  Assets/VRM10/Editor/VRM10.Editor.asmdef
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneJoint.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/FastSpringBoneBufferFactory.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10Runtime.cs
  Assets/VRM10/Runtime/IO/IVrm10SpringBoneRuntime.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10.Samples.VRM10Viewer.asmdef
  Assets/VRM10_Samples/VRM10Viewer/VRM10Loaded.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10Viewer.unity
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerUI.cs
Labels: SpringBone, Non breaking changes

#2456 [1.0] Scene配置モデルのDefaultSpringBone を Standalone 版に変更
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10Instance.cs
Labels: SpringBone, 1.0, Non breaking changes

#2457 [0.x] IVrm0XSpringBoneRuntime の実装
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableModelLevel.cs
  Assets/VRM/Runtime/SpringBone/IVrm0XSpringBoneRuntime.cs
  Assets/VRM/Runtime/SpringBone/Jobs/FastSpringBoneReplacer.cs
  Assets/VRM/Runtime/SpringBone/Jobs/Vrm0XFastSpringBoneRuntime.cs
  Assets/VRM/Runtime/SpringBone/Logic/SceneInfo.cs
  Assets/VRM/Runtime/SpringBone/Logic/SpringBoneJointInit.cs
  Assets/VRM/Runtime/SpringBone/Logic/SpringBoneSystem.cs
  Assets/VRM/Runtime/SpringBone/VRMSpringBone.cs
  Assets/VRM/Runtime/SpringBone/Vrm0XSpringBoneDefaultRuntime.cs
  Assets/VRM_Samples/SimpleViewer/Loaded.cs
  Assets/VRM_Samples/SimpleViewer/SimpleViewer.unity
  Assets/VRM_Samples/SimpleViewer/ViewerUI.cs
Labels: SpringBone, Non breaking changes

#2459 springbone 初期化の修正。
  Assets/UniGLTF/Runtime/SpringBoneJobs/InputPorts/FastSpringBoneBuffer.cs
Labels: bug, SpringBone, Non breaking changes

#2455 [lookat] inputMaxValue == 0 の例外処理
  Assets/VRM/Runtime/LookAt/CurveMapper.cs
  Assets/VRM10/Runtime/Components/LookAt/CurveMapper.cs
Labels: LookAt/FirstPerson, Non breaking changes

#2460 UniVRM-0.127.1
  Assets/UniGLTF/Runtime/UniGLTF/PackageVersion.cs
  Assets/UniGLTF/Runtime/UniGLTF/UniGLTFVersion.cs
  Assets/UniGLTF/package.json
  Assets/VRM/Samples~/SimpleViewer/Loaded.cs
  Assets/VRM/Samples~/SimpleViewer/SimpleViewer.unity
  Assets/VRM/Samples~/SimpleViewer/ViewerUI.cs
  Assets/VRM/package.json
  Assets/VRM10/Samples~/VRM10Viewer/VRM10.Samples.VRM10Viewer.asmdef
  Assets/VRM10/Samples~/VRM10Viewer/VRM10Loaded.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10Viewer.unity
  Assets/VRM10/Samples~/VRM10Viewer/VRM10ViewerUI.cs
  Assets/VRM10/package.json
Labels: Package, Non breaking changes

#2461 add version defines so that UniGLTF, UnityGLTF and glTFast can co-exist
  Assets/UniGLTF/Editor/UniGLTF.Editor.asmdef
Labels: editor, Package, Non breaking changes

#2466 [exporter][blendshape][bake] 基準メッシュバグ
  Assets/UniGLTF/Editor/MeshUtility/MeshUtilityDialog.cs
  Assets/UniGLTF/Runtime/MeshUtility/BoneNormalizer.cs
  Assets/UniGLTF/Runtime/MeshUtility/GltfMeshUtility.cs
  Assets/UniGLTF/Runtime/MeshUtility/MeshFreezer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfExportSettings.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/gltfExporter.cs
  Assets/VRM/Editor/Format/VRMEditorExporter.cs
  Assets/VRM/Editor/Format/VRMExportSettings.cs
  Assets/VRM/Editor/Format/VRMHumanoidNormalizerMenu.cs
  Assets/VRM/Editor/VrmTopMenu.cs
  Assets/VRM/Runtime/SkinnedMeshUtility/VRMBoneNormalizer.cs
  Assets/VRM/Runtime/SkinnedMeshUtility/VrmMeshUtility.cs
  Assets/VRM10/Editor/VRM10ExportSettings.cs
  Assets/VRM10/Editor/Vrm10ExportDialog.cs
  Assets/VRM10/Runtime/MeshUtility/Vrm10MeshUtility.cs
  Assets/VRM_Samples/RuntimeExporterSample/VRMRuntimeExporter.cs
Labels: bug, mod_export, Non breaking changes

#2463 [springbone] SpringBone が無いモデルの NullReferenceException を修正
  Assets/VRM/Runtime/SpringBone/Jobs/Vrm0XFastSpringBoneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: bug, SpringBone, Non breaking changes

#2468 [export][springbone] bake 時に SpringBone と LookAt に反映する実装
  Assets/VRM/Editor/Format/VRMEditorExporter.cs
  Assets/VRM/Runtime/IO/VrmGeometryBackup.cs
  Assets/VRM/Runtime/IO/VrmGeometryBackup.cs.meta
  Assets/VRM10/Editor/Vrm10ExportDialog.cs
  Assets/VRM10/Runtime/IO/Vrm10GeometryBackup.cs
  Assets/VRM10/Runtime/IO/Vrm10GeometryBackup.cs.meta
Labels: exporter, SpringBone, LookAt/FirstPerson, mod_export, Non breaking changes

#2471 [0.x][springbone] null check
  Assets/VRM/Runtime/SpringBone/Jobs/FastSpringBoneReplacer.cs
Labels: bug, SpringBone, Non breaking changes

#2470 [0.x][springbone][center] fix center coordinate conversion
  Assets/VRM/Runtime/SpringBone/Logic/SpringBoneJointInit.cs
  Assets/VRM/Runtime/SpringBone/Logic/SpringBoneSystem.cs
Labels: bug, SpringBone, Non breaking changes

#2473 [vrm10][Importer引数] ScriptedImpoter からの Import で SpringBone の初期化を回避する
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmScriptedImporterImpl.cs
  Assets/VRM10/Editor/Vrm10ExportDialog.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10NopSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10NopSpringboneRuntime.cs.meta
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  ProjectSettings/QualitySettings.asset
Labels: SpringBone, 1.0, Non breaking changes

#2475 UniVRM-0.127.2
  Assets/UniGLTF/Runtime/UniGLTF/PackageVersion.cs
  Assets/UniGLTF/Runtime/UniGLTF/UniGLTFVersion.cs
  Assets/UniGLTF/package.json
  Assets/VRM/Samples~/RuntimeExporterSample/VRMRuntimeExporter.cs
  Assets/VRM/Samples~/SimpleViewer/ViewerUI.cs
  Assets/VRM/package.json
  Assets/VRM10/Samples~/VRM10Viewer/FaceCameraTarget.asset
  Assets/VRM10/Samples~/VRM10Viewer/FaceCameraTarget.asset.meta
  Assets/VRM10/Samples~/VRM10Viewer/VRM10AIUEO.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10AutoExpression.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10Blinker.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10Loaded.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10RokuroCamera.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10Viewer.unity
  Assets/VRM10/Samples~/VRM10Viewer/VRM10ViewerUI.cs
  Assets/VRM10/package.json
Labels: Package, Non breaking changes

#2476 [1.0][SpringboneRuntime] SpringboneRuntime が null だと NullReference Exception
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10Instance.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
Labels: bug, SpringBone, Non breaking changes
