Repository vrm-c/UniVRM, pull requests merged in 2024-12, with the labels that each got.

#2522 Fixes #2521 - Improving runtime GLTF export performance
  Assets/UniGLTF/Runtime/UniGLTF/IO/ArrayByteBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/NativeArrayManager.cs
Labels: exporter, Non breaking changes

#2526 Refs #2525 - Exporting meshes with quads
  Assets/UniGLTF/Runtime/SpringBoneJobs/InputPorts/FastSpringBoneBuffer.cs
  Assets/UniGLTF/Runtime/UniGLTF/Format/glTFMesh.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExporter_SharedVertexBuffer.cs
Labels: exporter, mesh, Non breaking changes

#2518 [1.0][SpringBone] use awaitCaller
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
Labels: SpringBone, 1.0, Non breaking changes

#2524 [1.0][SpringBone][Editor] gizmo 初期設定時など空の時にエラーになる
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10InstanceSpringBone.cs
Labels: SpringBone, editor, 1.0, Non breaking changes

#2531 [editor] Script に Icon をセット
  Assets/UniGLTF/Runtime/UniHumanoid/AvatarDescription.cs.meta
  Assets/VRM/Icons.meta
  Assets/VRM/Icons/vrm0x-48x48.png
  Assets/VRM/Icons/vrm0x-48x48.png.meta
  Assets/VRM/Runtime/BlendShape/BlendShapeAvatar.cs.meta
  Assets/VRM/Runtime/BlendShape/BlendShapeClip.cs.meta
  Assets/VRM/Runtime/BlendShape/VRMBlendShapeProxy.cs.meta
  Assets/VRM/Runtime/FirstPerson/VRMFirstPerson.cs.meta
  Assets/VRM/Runtime/Meta/VRMMeta.cs.meta
  Assets/VRM/Runtime/Meta/VRMMetaObject.cs.meta
  Assets/VRM/Runtime/SpringBone/VRMSpringBone.cs.meta
  Assets/VRM10/Runtime/Components/Constraint/Vrm10AimConstraint.cs.meta
  Assets/VRM10/Runtime/Components/Constraint/Vrm10RollConstraint.cs.meta
  Assets/VRM10/Runtime/Components/Constraint/Vrm10RotationConstraint.cs.meta
  Assets/VRM10/Runtime/Components/Expression/VRM10Expression.cs.meta
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneColliderGroup.cs.meta
  Assets/VRM10/Runtime/Components/VRM10Object/VRM10Object.cs.meta
  Assets/VRM10/Runtime/Components/Vrm10Instance/Vrm10Instance.cs.meta
Labels: editor, Non breaking changes

#2517 [1.0][cloth] 開発版。いろいろ修正
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothGuess.cs
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothViewer.unity
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothViewerUI.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Editor/ClothWarp.Editor.asmdef
  Assets/VRM10_Samples/ClothSample/ClothWarp/Editor/ClothWarpRootEditor.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Editor/ClothWarpRootEditor.cs.meta
  Assets/VRM10_Samples/ClothSample/ClothWarp/Editor/RotateParticleRuntimeProviderEditor.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/README.md
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/ClothRectList.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/ClothWarp.asmdef
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/ClothWarpRuntime.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Components/ClothWarpRoot.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Components/ClothWarpRuntimeProvider.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/ClothWarpJobRuntime.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/Collision.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/CollisionJobs.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/CollisionJobs.cs.meta
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/Constraint.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/Particle.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/RectCollisionJob.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/RectCollisionJob.cs.meta
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/TransformInputOutput.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/TransformInputOutput.cs.meta
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/Warp.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/WarpCollisionJob.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/WarpCollisionJob.cs.meta
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/ParticleList.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/SphereTriangle/ClothRectCollision.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/SphereTriangle/SphereCapsuleCollision.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/SphereTriangle/SphereCapsuleCollision.cs.meta
Labels: document/sample, Non breaking changes

#2536 Fix an error when importing a glTF file that does not contain materials.
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/Import/MaterialFactory.cs
Labels: material/texture, Non breaking changes

#2533 MaterialValueBindingMergerが暗にbuilt-in RPへとロックインしていた問題を修正
  Assets/VRM10/Runtime/Components/Expression/MaterialValueBindingMerger.cs
Labels: material/texture, Non breaking changes

#2538 [Actions] Use steps instead of jobs in create-unitypackage action.
  .github/workflows/create-unitypackage.yml
Labels: Non breaking changes

#2514 [1.0][springbone] カプセルの頭側もドラッグできるようにするなど
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneColliderEditor.cs
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneColliderGroupEditor.cs
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneCollider.cs
Labels: SpringBone, editor, 1.0, Non breaking changes

#2540 `matcapTexture` should be 0.0 when it doesn't exist.
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon.shader
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_lighting_mtoon.hlsl
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_urp.shader
Labels: Non breaking changes

#2541 [sample] fix editor asmdef
  Assets/VRM10_Samples/ClothSample/ClothWarp/Editor/ClothWarp.Editor.asmdef
Labels: document/sample, Non breaking changes

#2542 [sample] update asmdef
  Assets/VRM10/Samples~/ClothSample/ClothWarp/Editor/ClothWarp.Editor.asmdef
Labels: document/sample, Non breaking changes

#2543 [sample] package.json, URP など
  Assets/VRM10/Samples~/ClothSample/ClothViewer/ClothViewer.unity
  Assets/VRM10/Samples~/ClothSample/ClothViewer/ClothViewerUI.cs
  Assets/VRM10/Samples~/ClothSample/ClothViewer/ClothVisualPrimitive.cs
  Assets/VRM10/Samples~/ClothSample/ClothViewer/ClothVisualPrimitive.cs.meta
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothViewer.unity
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothViewerUI.cs
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothVisualPrimitive.cs
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothVisualPrimitive.cs.meta
Labels: document/sample, Non breaking changes

#2544 [sample] add sample package.json
  Assets/VRM10/package.json
Labels: document/sample, Non breaking changes
