Repository vrm-c/UniVRM, pull requests merged in 2025-04, with the labels that each got.

#2622 Fix MToon10: Use G channel for outline width tex to match the specification
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_geometry_vertex.hlsl
Labels: bug, Non breaking changes

#2618 [Vrm10Viewer][UIToolKit] Vrm10Viewer の uGui を UIToolKit で置き換え
  .gitignore
  Assets/UI Toolkit.meta
  Assets/UI Toolkit/UnityThemes.meta
  Assets/UI Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss
  Assets/UI Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss.meta
  Assets/UniGLTF/Runtime/UniHumanoid/SkeletonMeshUtility.cs
  Assets/VRM10_Samples/VRM10Viewer/ArgumentChecker.cs
  Assets/VRM10_Samples/VRM10Viewer/ArgumentChecker.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyPbrAlphaBlend.shadergraph
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyPbrOpaque.shadergraph
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/EmotionElement.cs
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/EmotionElement.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/EmotionElement.uxml
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/EmotionElement.uxml.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/ExpressionElement.cs
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/ExpressionElement.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/ExpressionElement.uxml
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/ExpressionElement.uxml.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MainView.asset
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MainView.asset.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MainView.uxml
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MainView.uxml.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MetaView.cs
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MetaView.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MetaView.uxml
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MetaView.uxml.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/TextureElement.cs
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/TextureElement.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/VRM10MainView.cs
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/VRM10MainView.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/ui.uss
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/ui.uss.meta
  Assets/VRM10_Samples/VRM10Viewer/VRM10Viewer.unity
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerController.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerController.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerUI.cs
  Assets/VRM10_Samples/VRM10Viewer/uGui.meta
  Assets/VRM10_Samples/VRM10Viewer/uGui/EmotionFields.cs
  Assets/VRM10_Samples/VRM10Viewer/uGui/EmotionFields.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/uGui/ObjectMap.cs
  Assets/VRM10_Samples/VRM10Viewer/uGui/ObjectMap.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/uGui/TextFields.cs
  Assets/VRM10_Samples/VRM10Viewer/uGui/TextFields.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/uGui/UIFields.cs
  Assets/VRM10_Samples/VRM10Viewer/uGui/UIFields.cs.meta
  Assets/VRM10_Samples/VRM10Viewer/uGui/VRM10ViewerUI.cs
  Assets/VRM10_Samples/VRM10Viewer/uGui/VRM10ViewerUI.cs.meta
Labels: document/sample, Non breaking changes

#2623 Change MToon10Showcase template parameters
  Assets/VRM10_Samples/MToon10Showcase/Settings/UV Animation Template.asset
Labels: document/sample, Non breaking changes

#2624 add dependency to com.unity.timeline
  Assets/VRM/Editor/Format/VRMVersionMenu.cs
  Assets/VRM10/package.json
Labels: UnityVersion, Non breaking changes

#2626 Add capture feature to MToon10 Showcase
  Assets/VRM10_Samples/MToon10Showcase/MToon10Showcase.unity
  Assets/VRM10_Samples/MToon10Showcase/Runtime/MToon10ShowcaseEntryPoint.cs
  Assets/VRM10_Samples/MToon10Showcase/Runtime/TopDownCapture.cs
  Assets/VRM10_Samples/MToon10Showcase/Runtime/TopDownCapture.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Runtime/VRM10.Samples.MToon10Showcase.asmdef
Labels: document/sample, Non breaking changes

#2631 Add CustomPropertyDrawer to MToon10 Showcase
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/AlphaModeEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/AlphaModeEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/EmissionEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/EmissionEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/GIEqualizationEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/GIEqualizationEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/MatcapEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/MatcapEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/NormalMapEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/NormalMapEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/OutlineEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/OutlineEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/PrametricRimEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/PrametricRimEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/RenderQueueOffsetEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/RenderQueueOffsetEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/RimLightingEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/RimLightingEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/ShadingShiftEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/ShadingShiftEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/ShadingToonyEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/ShadingToonyEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/UVAnimationEntryDrawer.cs
  Assets/VRM10_Samples/MToon10Showcase/Editor/CustomEditor/UVAnimationEntryDrawer.cs.meta
  Assets/VRM10_Samples/MToon10Showcase/Editor/VRM10.Samples.MToon10Showcase.Editor.asmdef
  Assets/VRM10_Samples/MToon10Showcase/Runtime/ShowcaseTemplates/OutlineShowcase.cs
Labels: document/sample, Non breaking changes

#2629 [SpringBone] dispose function can now be executed again
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
Labels: SpringBone, 1.0, Non breaking changes

#2627 [VRM10Viewer][WebGL] FileDialog復旧。WWW警告解決
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/VRM10MainView.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerController.cs
  Assets/VRM10_Samples/VRM10Viewer/uGui/VRM10ViewerUI.cs
Labels: document/sample, Non breaking changes, WebGL

#2630 [0.x][SpringBone] Avoid resetting indexmaps causing exceptions
  Assets/VRM/Runtime/SpringBone/Logic/SpringBoneSystem.cs
  Assets/VRM/Tests/VRMSpringBoneTests.cs
  Assets/VRM/Tests/VRMSpringBoneTests.cs.meta
Labels: SpringBone, Non breaking changes

#2636 [sample] use UnityWebRequest
  Assets/VRM_Samples/SimpleViewer/ViewerUI.cs
Labels: document/sample, Non breaking changes

#2637 [importer] add virtual ImporterContext.PreprocessAsync
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfData.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfDuplicatedNameConversionRule.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfDuplicatedNameConversionRule.cs.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/GlbLowLevelParser.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/gltfExporter.cs
  Assets/VRM/Runtime/IO/VRMImporterContext.cs
  Assets/VRM10/Runtime/IO/Texture/Vrm10TextureDescriptorGenerator.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Runtime/IO/VrmAnimationImporter.cs
Labels: importer, Breaking changes

#2638 [humanoid] HumanoidLoader まわりのコード整理
  Assets/UniGLTF/Editor/UniHumanoid/BoneMappingEditor.cs
  Assets/UniGLTF/Runtime/UniHumanoid/AvatarDescription.cs
  Assets/UniGLTF/Runtime/UniHumanoid/Humanoid.cs
  Assets/UniGLTF/Runtime/UniHumanoid/HumanoidLoader.cs
  Assets/UniGLTF/Runtime/UniHumanoid/IO/BvhImporterContext.cs
  Assets/UniGLTF/Runtime/Utils/ForceTransformUniqueName.cs
  Assets/UniGLTF_Samples/UniHumanoid/HumanBuilderTest.cs
  Assets/VRM/Runtime/IO/VRMImporterContext.cs
  Assets/VRM/Runtime/SkinnedMeshUtility/VRMBoneNormalizer.cs
  Assets/VRM/Runtime/SkinnedMeshUtility/VrmMeshUtility.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/ControlRig/Vrm10RuntimeControlRig.cs
  Assets/VRM10/Runtime/IO/VrmAnimationImporter.cs
  Assets/VRM10/Runtime/MeshUtility/Vrm10MeshUtility.cs
Labels: importer, Non breaking changes

#2640 [Tests] parse 後に improterContext を通過しない Test のエラーを修正
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfData.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfDuplicatedNameConversionRule.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/UniGLTF/Tests/Objects/4x4_gray_import_as_linear.png.meta
  Assets/UniGLTF/Tests/Objects/4x4_gray_import_as_normal_map.png.meta
  Assets/UniGLTF/Tests/Objects/4x4_gray_import_as_srgb.png.meta
  Assets/UniGLTF/Tests/UniGLTF/GlbParserTests.cs
  Assets/VRM/Tests/MToonTest.cs
  Assets/VRM/Tests/VRMTextureEnumerateTests.cs
  Assets/VRM10/Tests/MaterialImportTests.cs
Labels: importer, Non breaking changes

#2641 [revert] 2637 を revert します。
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfData.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfDuplicatedNameConversionRule.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/GltfDuplicatedNameConversionRule.cs.meta
  Assets/UniGLTF/Runtime/UniGLTF/IO/ImporterContext.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/GlbLowLevelParser.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/gltfExporter.cs
  Assets/UniGLTF/Tests/UniGLTF/GlbParserTests.cs
  Assets/VRM/Runtime/IO/VRMImporterContext.cs
  Assets/VRM/Tests/MToonTest.cs
  Assets/VRM/Tests/VRMTextureEnumerateTests.cs
  Assets/VRM10/Runtime/IO/Texture/Vrm10TextureDescriptorGenerator.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
  Assets/VRM10/Runtime/IO/Vrm10Importer.cs
  Assets/VRM10/Runtime/IO/VrmAnimationImporter.cs
  Assets/VRM10/Tests/MaterialImportTests.cs
Labels: Non breaking changes

#2642 node rename 作り直し。parse 終了時に rename が完了している方がよい。
  Assets/UniGLTF/Runtime/UniGLTF/IO/ForceGltfNodeUniqueName.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/ForceGltfNodeUniqueName.cs.meta
  Assets/UniGLTF/Runtime/Utils/ForceTransformUniqueName.cs
  Assets/VRM/Runtime/IO/VRMData.cs
  Assets/VRM10/Editor/ScriptedImporter/VrmaScriptedImporter.cs
  Assets/VRM10/Runtime/Components/VrmAnimationInstance/Vrm10PoseLoader.cs
  Assets/VRM10/Runtime/IO/Vrm10Data.cs
  Assets/VRM10/Runtime/IO/VrmAnimationData.cs
  Assets/VRM10/Runtime/IO/VrmAnimationData.cs.meta
  Assets/VRM10/Runtime/IO/VrmAnimationImporter.cs
  Assets/VRM10_Samples/ClothSample/ClothViewer/ClothViewerUI.cs
  Assets/VRM10_Samples/SimpleVrma/SimpleVrma.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerController.cs
Labels: importer, Breaking changes

#2645 [uitoolkit] missing UnityDefaultRuntimeTheme.tss
  Assets/VRM10/Samples~/VRM10Viewer/UIToolkit/MainView.asset
  Assets/VRM10/Samples~/VRM10Viewer/UIToolkit/UnityDefaultRuntimeTheme.tss
  Assets/VRM10/Samples~/VRM10Viewer/UIToolkit/UnityDefaultRuntimeTheme.tss.meta
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/MainView.asset
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/UnityDefaultRuntimeTheme.tss
  Assets/VRM10_Samples/VRM10Viewer/UIToolkit/UnityDefaultRuntimeTheme.tss.meta
Labels: document/sample, Non breaking changes

#2647 [constraint] fix constraint init pose
  Assets/VRM10/Runtime/Components/Constraint/IVrm10Constraint.cs
  Assets/VRM10/Runtime/Components/Constraint/Vrm10AimConstraint.cs
  Assets/VRM10/Runtime/Components/Constraint/Vrm10RollConstraint.cs
  Assets/VRM10/Runtime/Components/Constraint/Vrm10RotationConstraint.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10Runtime.cs
  Assets/VRM10/Runtime/IO/Vrm10Exporter.cs
Labels: constraint, Non breaking changes
