Repository vrm-c/UniVRM, pull requests merged in 2025-08, with the labels that each got.

#2706 マテリアルが正常に解放されていない問題を修正
  Assets/VRM10/Runtime/Components/Expression/ExpressionMerger.cs
  Assets/VRM10/Runtime/Components/Expression/MaterialValueBindingMerger.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10RuntimeExpression.cs
Labels: material/texture, Non breaking changes, init/dispose

#2707 IVrm10SpringBoneRuntimeのProcess関数にdeltaTime引数を追加
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Springbone/IVrm10SpringBoneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Springbone/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Springbone/Vrm10FastSpringboneRuntimeStandalone.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Springbone/Vrm10NopSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10Runtime.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/ClothWarpRuntime.cs
  Assets/VRM10_Samples/ClothSample/ClothWarp/Runtime/Jobs/ClothWarpJobRuntime.cs
Labels: SpringBone, Non breaking changes

#2698 [SpringBoneLimit] 動くようにした
  Assets/UniGLTF/Runtime/SpringBoneJobs/Anglelimit/Anglelimit.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/Blittables/BlittableJointMutable.cs
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneJointEditor.cs
  Assets/VRM10/Runtime/Components/SpringBone/VRM10SpringBoneJoint.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Springbone/FastSpringBoneBufferFactory.cs
Labels: SpringBone, Breaking changes

#2714 Convert material importers from static to instance classes for shader customization
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/BuiltInRP/Import/BuiltInGltfMaterialDescriptorGenerator.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/BuiltInRP/Import/Materials/BuiltInGltfDefaultMaterialImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/BuiltInRP/Import/Materials/BuiltInGltfPbrMaterialImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/BuiltInRP/Import/Materials/BuiltInGltfUnlitMaterialImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP/Import/Materials/UrpGltfDefaultMaterialImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP/Import/Materials/UrpGltfPbrMaterialImporter.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/URP/Import/UrpGltfMaterialDescriptorGenerator.cs
  Assets/VRM/Runtime/IO/MaterialIO/BuiltInRP/Import/BuiltInVrmMaterialDescriptorGenerator.cs
  Assets/VRM/Runtime/IO/MaterialIO/BuiltInRP/Import/Materials/BuiltInVrmMToonMaterialImporter.cs
  Assets/VRM/Runtime/IO/MaterialIO/BuiltInRP/Import/Materials/BuiltInVrmUnlitTransparentZWriteMaterialImporter.cs
  Assets/VRM/Runtime/IO/MaterialIO/URP/Import/UrpVrmMaterialDescriptorGenerator.cs
  Assets/VRM/Tests/MToonTest.cs
  Assets/VRM/Tests/VRMTextureEnumerateTests.cs
  Assets/VRM10/Runtime/IO/Material/BuiltInRP/Import/BuiltInVrm10MaterialDescriptorGenerator.cs
  Assets/VRM10/Runtime/IO/Material/BuiltInRP/Import/Materials/BuiltInVrm10MToonMaterialImporter.cs
  Assets/VRM10/Runtime/IO/Material/URP/Import/Materials/UrpVrm10MToonMaterialImporter.cs
  Assets/VRM10/Runtime/IO/Material/URP/Import/UrpVrm10MaterialDescriptorGenerator.cs
  Assets/VRM10_Samples/VRM10Viewer/MaterialImporter/UnlitMaterialImporter.cs
  Assets/VRM10_Samples/VRM10Viewer/MaterialImporter/UrpMToonMaterialImporter.cs
Labels: material/texture, Breaking changes

#2712 [importer] blendshape の名前重複をリネームする
  Assets/UniGLTF/Runtime/UniGLTF/IO/Parser/GlbLowLevelParser.cs
  Assets/UniGLTF/Runtime/UniJSON/Json/JsonParser.cs
  Assets/UniGLTF/Tests/UniGLTF/GltfLoadTests.cs
  Assets/UniGLTF/Tests/UniGLTF/gltfTutorial_017_SimpleMorphTarget.txt
  Assets/UniGLTF/Tests/UniGLTF/gltfTutorial_017_SimpleMorphTarget.txt.meta
Labels: importer, Non breaking changes, importer_preprocess

#2715 [springbone limit]作業中メッセージ
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneJointEditor.cs
Labels: SpringBone, Non breaking changes
