Repository vrm-c/UniVRM, pull requests merged in 2025-01, with the labels that each got.

#2545 MToon10Meta.URPUnityShaderNameがObsolete警告を出すのに対応
  Assets/VRM10/Runtime/IO/Material/URP/Import/Materials/UrpVrm10MToonMaterialImporter.cs
Labels: material/texture, Non breaking changes

#2562 Update supported Unity version to 2022.3LTS
  README.md
Labels: document/sample, Non breaking changes

#2560 fix compile error in unity 2021
  Assets/VRM10/Editor/Components/SpringBone/VRM10SpringBoneColliderGroupEditor.cs
  Assets/VRM10/Editor/Vrm10InstanceEditor.cs
Labels: Non breaking changes

#2564 [WebGL] workflow修正
  .github/workflows/build-webgl.yml
Labels: Non breaking changes, WebGL

#2565 [WebGL] github action でサンプルをWebGLビルドして gh-page に展開する
  .github/workflows/build-webgl.yml
  Assets/VRM/Editor/BuildClass.cs
  Assets/VRM/Editor/VrmTopMenu.cs
  Assets/VRM10/Editor/BuildClass.cs
  Assets/VRM10/Editor/BuildClass.cs.meta
  Assets/VRM10/Editor/Vrm10TopMenu.cs
Labels: Non breaking changes, WebGL

#2569 [WebGL] Dialogの優先順位。Editor は UNITY_EDITOR
  Assets/VRM10_Samples/VRM10Viewer/VRM10ViewerUI.cs
  Assets/VRM_Samples/SimpleViewer/FileDialog/FileUtil.cs
Labels: Non breaking changes, WebGL
