Repository vrm-c/UniVRM, pull requests merged in 2025-03, with the labels that each got.

#2594 Ensure `matcapFactor` Compatibility with VRM 1.0 Models in UniVRM v0.128.0 and Earlier
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon.shader
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_urp.shader
Labels: material/texture, Non breaking changes

#2595 [sample] update TinyMtoon
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/Import/IMaterialDescriptorGenerator.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MaterialIO/Import/MaterialDescriptor.cs
  Assets/VRM10_Samples/VRM10Viewer/Assets/PostProcess Profile.asset
  Assets/VRM10_Samples/VRM10Viewer/Assets/PostProcess Profile.asset.meta
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyMToonAlphaBlend.shadergraph
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyMToonOpaque.shadergraph
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyMToon_SubGraph.shadersubgraph
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyPbrAlphaBlend.shadergraph
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyPbrOpaque.shadergraph
  Assets/VRM10_Samples/VRM10Viewer/Assets/TinyPbr_SubGraph.shadersubgraph
  Assets/VRM10_Samples/VRM10Viewer/TinyMToonMaterialContext.cs
  Assets/VRM10_Samples/VRM10Viewer/TinyMToonMaterialImporter.cs
  Assets/VRM10_Samples/VRM10Viewer/VRM10VisualPrimitive.cs
Labels: document/sample, Non breaking changes

#2597 Fix to multiply _EmissionColor by emissiveStrength in MToon10
  Assets/VRM10/Runtime/IO/Material/BuiltInRP/Import/Materials/BuiltInVrm10MToonMaterialImporter.cs
  Assets/VRM10/Runtime/IO/Material/URP/Import/Materials/UrpVrm10MToonMaterialImporter.cs
Labels: bug, material/texture, Non breaking changes

#2600 Fix an issue where MToon cannot render transparent materials in some 16-bit floating point environments.
  Assets/VRM/MToon/Shaders/MToonCore.cginc
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_geometry_alpha.hlsl
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_lighting_mtoon.hlsl
  Assets/VRM10/MToon10/Shaders/vrmc_materials_mtoon_utility.hlsl
Labels: material/texture, Non breaking changes

#2601 UniVRM-0.128.3
  Assets/UniGLTF/Runtime/UniGLTF/PackageVersion.cs
  Assets/UniGLTF/Runtime/UniGLTF/UniGLTFVersion.cs
  Assets/UniGLTF/package.json
  Assets/VRM/package.json
  Assets/VRM10/Samples~/VRM10Viewer/Assets/PostProcess Profile.asset
  Assets/VRM10/Samples~/VRM10Viewer/Assets/PostProcess Profile.asset.meta
  Assets/VRM10/Samples~/VRM10Viewer/Assets/TinyMToonAlphaBlend.shadergraph
  Assets/VRM10/Samples~/VRM10Viewer/Assets/TinyMToonOpaque.shadergraph
  Assets/VRM10/Samples~/VRM10Viewer/Assets/TinyMToon_SubGraph.shadersubgraph
  Assets/VRM10/Samples~/VRM10Viewer/Assets/TinyPbrAlphaBlend.shadergraph
  Assets/VRM10/Samples~/VRM10Viewer/Assets/TinyPbrOpaque.shadergraph
  Assets/VRM10/Samples~/VRM10Viewer/Assets/TinyPbr_SubGraph.shadersubgraph
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/IMaterialImporter.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/IMaterialImporter.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/OrderedMaterialDescriptorGenerator.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/OrderedMaterialDescriptorGenerator.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyMToonMaterialContext.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyMToonMaterialContext.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyMToonMaterialImporter.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyMToonMaterialImporter.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyPbrMaterialContext.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyPbrMaterialContext.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyPbrMaterialImporter.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/TinyPbrMaterialImporter.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/UnlitMaterialImporter.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/UnlitMaterialImporter.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/UrpMToonMaterialImporter.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/UrpMToonMaterialImporter.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/UrpPbrMaterialImporter.cs
  Assets/VRM10/Samples~/VRM10Viewer/MaterialImporter/UrpPbrMaterialImporter.cs.meta
  Assets/VRM10/Samples~/VRM10Viewer/OrderedMaterialDescriptorGenerator.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10TargetMover.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10Viewer.unity
  Assets/VRM10/Samples~/VRM10Viewer/VRM10ViewerUI.cs
  Assets/VRM10/Samples~/VRM10Viewer/VRM10VisualPrimitive.cs
  Assets/VRM10/package.json
Labels: Package, Non breaking changes

#2605 fix logicsIndex in ReconstructIfDirty
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
Labels: SpringBone, 1.0, Non breaking changes

#2606 SpanによるUniGLTF.NativeArrayManager.CreateNativeArray(ArraySegment)の改善
  Assets/UniGLTF/Runtime/UniGLTF/IO/NativeArrayManager.cs
Labels: importer, Non breaking changes

#2609 [SpringBone] CurrentTails の初期値。CurrentTails は center local
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneConbinedBuffer.cs
Labels: SpringBone, Non breaking changes

#2610 Add: UnitySupportedImageTypeDeserializer に MarkNonReadable プロパティを追加
  Assets/UniGLTF/Runtime/UniGLTF/IO/TextureIO/Import/UnitySupportedImageTypeDeserializer.cs
Labels: importer, material/texture, Non breaking changes

#2614 [SpringBone] reconstruct 時の center の index の offset 足し忘れを修正
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneBufferCombiner.cs
  Assets/UniGLTF/Runtime/SpringBoneJobs/FastSpringBoneConbinedBuffer.cs
  Assets/VRM/Runtime/SpringBone/Jobs/Vrm0XFastSpringBoneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntime.cs
  Assets/VRM10/Runtime/Components/Vrm10Runtime/Vrm10FastSpringboneRuntimeStandalone.cs
Labels: SpringBone, Non breaking changes

#2613 #2612 - Empty primitive meshes
  Assets/UniGLTF/Runtime/UniGLTF/IO/AnimationIO/Import/AnimationImporterUtil.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/MeshIO/MeshExportInfo.cs
  Assets/UniGLTF/Runtime/UniGLTF/IO/gltfExporter.cs
Labels: importer, glTF, animation, Non breaking changes
